
* {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}
/* Navegador */
header{
    position: fixed;
    z-index: 100;
    width: 100%;
    margin-top: 0;
}
.color-bg {
    background-color: #313E6A;
    box-shadow: 0px 10px 10px -6px grey;
}
.navbar-dark .navbar-toggler{
    background-color: transparent;
    border-color: #ffffff;
}
.navbar-toggler{
    border-color:rgb(255, 255, 255);
}
.navbar-logo{
    margin-right: 3%;
    margin-left: 3%;
}
.navbar-nav{
    width: 450px;
    justify-content: space-around;
}
.nav-texto{
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-decoration: none;
}
.nav-texto:hover{
    color: #FBFF27;
}
/* Fin navegador */

/* Buscador*/
/* Computadores */
#buscador .universal_1 {
    display: flex;
}
#buscador .universal_1 .contenedor_1{
    width: 50%;
    display: block;
}
#buscador .universal_1 .contenedor_1 .titulo_1{
    width: 100%;
    display: flex;
    justify-content: center;
}
#buscador .universal_1 .contenedor_1 .titulo_1 img{
    width: 75%;
    margin-top: 130px;
}
#buscador .universal_1 .contenedor_1 .descripcion_1 {
    width: 100%;
    display: flex;
    justify-content: center;
}
#buscador .universal_1 .contenedor_1 .descripcion_1 p{
    width: 80%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}
#buscador .universal_1 .contenedor_1 .universal_2{
    display: flex;
    justify-content: center;
}
#buscador .universal_1 .contenedor_1 .universal_2 .input-group{
    width: 50%;
}
#buscador .universal_1 .contenedor_1 .universal_2 .input-group input{
    width: 70%;
}
::placeholder{
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}
#buscador .universal_1 .contenedor_1 .universal_2 .input-group span{
    background-color: #AD8CF4;
}
#buscador .universal_1 .contenedor_1 .universal_2 .input-group span .input-group-right-example{
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}
#buscador .universal_1 .contenedor_2{
    width: 50%;
    display: flex;
    justify-content: center;
}
#buscador .universal_1 .contenedor_2 img{
    margin-top: 90px;
    width: 90%;
}

/* Tablets */
@media (min-width:601px) and (max-width:1024px) {
    #buscador .universal_1 .contenedor_1{
        width: 40%;
    }
    #buscador .universal_1 .contenedor_2{
        width: 60%;
    }
    #buscador .universal_1 .contenedor_1 .descripcion_1 p{
        width: 80%;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 80%;
    }
    ::placeholder{
        font-size: 80%;
    }
    #buscador .universal_1 .contenedor_1 .universal_2 .input-group span .input-group-text{
        font-size: 50%;
    }
}

/* Celulares */
@media (min-width:100px) and (max-width:600px) {
    #buscador .universal_1{
        display: block;
        align-items: center;
        width: 100%;
    }
    #buscador .universal_1 .contenedor_1{
        width: 100%;
    }
    #buscador .universal_1 .contenedor_2{
        width: 100%;
    }
    #buscador .universal_1 .contenedor_2 img{
        margin-top: 20px;
    }
}
/* Fin buscador */

/* Tendencias */
/* Computadores */
#tendencias .contenedor_1 {
    display: flex;
    justify-content: center;
    background-size: 100%;
    margin-top: 90px;
}
#tendencias .contenedor_1 .titulo_1  {
    width: 20%;
}
#tendencias .contenedor_1 .titulo_1 img {
    width: 100%;
}
#tendencias .contenedor_2 {
    width: 100%;
    margin-top: 40px;
    display: block;
}
#tendencias .contenedor_2 .contenedor_3 {
    width: 100%;
    display: flex;
    justify-content: center;
}
#tendencias .contenedor_2 .contenedor_3 .contenedor_3_0 {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#tendencias .contenedor_2 .contenedor_3 .contenedor_3_0 .contenedor_3_1{
    width: 30%;
    background-color: #84D8ED;
    border-radius: 20px;
    box-shadow: 0px 20px 10px -6px grey;
    display: block;
}
#tendencias .contenedor_2 .contenedor_3 .contenedor_3_0 .contenedor_3_1:hover{
    background-color: transparent;
    box-shadow: 0px 10px 10px 6px grey;
}
#tendencias .contenedor_2 .imagen{
    display: flex;
    justify-content: center;
    width: 100%;
}
#tendencias .contenedor_2  img{
    width: 50%;
}
#tendencias .contenedor_2 .categoria{
    width:100%;
    display: flex;
    justify-content: center;
}
#tendencias .contenedor_2 .categoria p{
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #1a223c;
    text-align: center;
}
#tendencias .contenedor_2 .descripcion_tendencia{
    width:100%;
    display: flex;
    justify-content: center;
}
#tendencias .contenedor_2 .descripcion_tendencia p{
    width: 80%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #1a223c;
    margin-top: -15px;
}
#tendencias .contenedor_2 .contenedor_3 .contenedor_3_0 .contenedor_3_2{
    width: 30%;
    background-color: #7EED90;
    border-radius: 20px;
    box-shadow: 0px 20px 10px -6px grey;
}
#tendencias .contenedor_2 .contenedor_3 .contenedor_3_0 .contenedor_3_2:hover{
    background-color: transparent;
    box-shadow: 0px 10px 10px 6px grey;
}
#tendencias .contenedor_2 .contenedor_3 .contenedor_3_0 .contenedor_3_3{
    width: 30%;
    background-color: #F0A290;
    border-radius: 20px;
    box-shadow: 0px 20px 10px -6px grey;
}
#tendencias .contenedor_2 .contenedor_3 .contenedor_3_0 .contenedor_3_3:hover{
    background-color: transparent;
    box-shadow: 0px 10px 10px 6px grey;
}
#tendencias .contenedor_2 .contenedor_4 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#tendencias .contenedor_2 .contenedor_4 .contenedor_4_0 {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#tendencias .contenedor_2 .contenedor_4 .contenedor_4_0 .contenedor_4_1{
    width: 30%;
    background-color: #F0A290;
    border-radius: 20px;
    box-shadow: 0px 20px 10px -6px grey;
}
#tendencias .contenedor_2 .contenedor_4 .contenedor_4_0 .contenedor_4_1:hover{
    background-color: transparent;
    box-shadow: 0px 10px 10px 6px grey;
}
#tendencias .contenedor_2 .contenedor_4 .contenedor_4_0 .contenedor_4_2{
    width: 30%;
    background-color: #84D8ED;
    border-radius: 20px;
    box-shadow: 0px 20px 10px -6px grey;
}
#tendencias .contenedor_2 .contenedor_4 .contenedor_4_0 .contenedor_4_2:hover{
    background-color: transparent;
    box-shadow: 0px 10px 10px 6px grey;
}
#tendencias .contenedor_2 .contenedor_4 .contenedor_4_0 .contenedor_4_3{
    width: 30%;
    background-color: #7EED90;
    border-radius: 20px;
    box-shadow: 0px 20px 10px -6px grey;
}
#tendencias .contenedor_2 .contenedor_4 .contenedor_4_0 .contenedor_4_3:hover{
    background-color: transparent;
    box-shadow: 0px 10px 10px 6px grey;
}

/* Tablets */
@media (min-width:601px) and (max-width:1024px) {
    #tendencias .contenedor_1 {
        margin-top: 30px;
    }
    #tendencias .contenedor_1 .titulo_1 {
        margin-top: 20px;
    }
    #tendencias .contenedor_2{
        margin-top: 30px;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    #tendencias .contenedor_2 .contenedor_3{
        display: flex;
        justify-content: flex-end;
        width: 45%;
    }
    #tendencias .contenedor_2 .contenedor_3 .contenedor_3_0{
        display: block;
        width: 50%;
    }
    #tendencias .contenedor_2 .contenedor_3 .contenedor_3_0 .contenedor_3_1{
        width: 100%;
        margin-bottom: 20px;
    }
    #tendencias .contenedor_2 .contenedor_3 .contenedor_3_0 .contenedor_3_2{
        width: 100%;
        margin-bottom: 20px;
    }
    #tendencias .contenedor_2 .contenedor_3 .contenedor_3_0 .contenedor_3_3{
        width: 100%;
        margin-bottom: 20px;
    }
    #tendencias .contenedor_2 .imagen img{
        width: 50%;
    }
    #tendencias .contenedor_2 .categoria p{
        font-size: 70%;
    }
    #tendencias .contenedor_2 .descripcion_tendencia p{
        font-size: 60%;
    }
    #tendencias .contenedor_2 .contenedor_4{
        display: flex;
        width: 45%;
        justify-content: flex-start;
        margin-top: 0;
    }
    #tendencias .contenedor_2 .contenedor_4 .contenedor_4_0{
        display: block;
        width: 50%;
    }
    #tendencias .contenedor_2 .contenedor_4 .contenedor_4_0 .contenedor_4_1{
        width: 100%;
        margin-bottom: 20px;
    }
    #tendencias .contenedor_2 .contenedor_4 .contenedor_4_0 .contenedor_4_2{
        width: 100%;
        margin-bottom: 20px;
    }
    #tendencias .contenedor_2 .contenedor_4 .contenedor_4_0 .contenedor_4_3{
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Celulares */
@media (min-width:100px) and (max-width:600px) {
    #tendencias .contenedor_1 {
        margin-top: 60px;
    }
    #tendencias .contenedor_1 .titulo_1 {
        width: 45%;
    }
    #tendencias .contenedor_2{
        margin-top: 30px;
        display: block;
        width: 100%;
    }
    #tendencias .contenedor_2 .contenedor_3{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #tendencias .contenedor_2 .contenedor_3 .contenedor_3_0{
        display: block;
        width: 60%;
    }
    #tendencias .contenedor_2 .contenedor_3 .contenedor_3_0 .contenedor_3_1{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
    }
    #tendencias .contenedor_2 .contenedor_3 .contenedor_3_0 .contenedor_3_2{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
    }
    #tendencias .contenedor_2 .contenedor_3 .contenedor_3_0 .contenedor_3_3{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
    }
    #tendencias .contenedor_2 .imagen {
        width: 30%;
        margin-left: 10px;
    }
    #tendencias .contenedor_2 .imagen img{
        width: 100%;
    }
    #tendencias .contenedor_2 .categoria {
        width: 50%;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    #tendencias .contenedor_2 .categoria p{
        font-size: 80%;
    }
    #tendencias .contenedor_2 .descripcion_tendencia {
        display: none;
        width: 0;
    }
    #tendencias .contenedor_2 .contenedor_4{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 0;
    }
    #tendencias .contenedor_2 .contenedor_4 .contenedor_4_0{
        display: block;
        width: 60%;
    }
    #tendencias .contenedor_2 .contenedor_4 .contenedor_4_0 .contenedor_4_1{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        background-color: #00CCFF;
    }
    #tendencias .contenedor_2 .contenedor_4 .contenedor_4_0 .contenedor_4_2{
        display: none;
    }
    #tendencias .contenedor_2 .contenedor_4 .contenedor_4_0 .contenedor_4_3{
        display: none;
    }
}
/* Fin tendencias */

/* Blogs */
/* Computadores */
#blogs {
    background-size: 100%;
    margin-top: 100px;
    background-color: #FFE745;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
#blogs .universal_3{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
#blogs .bloggueado {
    width: 45%;
    display: block;
}
#blogs .bloggueado .mas_bloggueado {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
#blogs .bloggueado .mas_bloggueado .titulo_2{
    width: 55%;
}
#blogs .bloggueado .mas_bloggueado .titulo_2 img{
    width: 100%;
}
#blogs .bloggueado .universal_4 {
    width: 100%;
    display: flex;
    justify-content: center;
}
#blogs .bloggueado .universal_4 .universal_4_1{
    width: 70%;
    display: block;
}
#blogs .bloggueado .universal_4 .contenedor {
    display: grid; 
    grid-template-columns: 20% 80%; 
    grid-template-rows: 40% 60%; 
    gap: 0px 0px; 
    grid-template-areas: 
    "imagen fecha"
    "imagen texto"; 
    width: 100%; 
    height: 50px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 50px;
}
#blogs .bloggueado .universal_4  .contenedor .imagen { 
    grid-area: imagen;
    display: flex;
    justify-content: center;
}
#blogs .bloggueado .universal_4  .contenedor .imagen img { 
    margin-top: 10px;
    margin-left: 10px;
    width: 60%;
    height: 60%;
}
#blogs .bloggueado .universal_4  .contenedor .fecha {     grid-area: fecha;
    display: flex;
    justify-content: flex-end;  
}
#blogs .bloggueado .universal_4  .contenedor .fecha p{
    font-family: 'Lato', sans-serif;
    font-size: 65%;
    margin-top: 3px;
    margin-right: 30px;
    color: #1a223c;
}
#blogs .bloggueado .universal_4  .contenedor .texto{   
    grid-area: texto;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    width: 90%;
}
#blogs .universal_4  .contenedor .sub_cont .texto p{
    width: 110% ;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    color: #313E6A;
}
#blogs .universal_3 .universal_5 {
    width: 55%;
    display: flex;
    justify-content: flex-start;
}
#blogs .universal_3 .universal_5 .paises {  
    width: 90%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 55% 30% 10%;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "mapa mapa mapa"
      "p_1 p_2 p_3"
      "boton boton boton";
  }
#blogs .universal_3 .paises .mapa { 
    grid-area: mapa;
    display: flex;
    justify-content: flex-start;
}
#blogs .universal_3 .paises .mapa iframe{ 
    width: 100%;
    margin-top: 60px;
    border-radius: 10px;
}
#blogs .universal_3 .paises .p_1 { grid-area: p_1; }
#blogs .universal_3 .paises .p_1 img { 
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#blogs .universal_3 .paises .p_2 { grid-area: p_2; }
#blogs .universal_3 .paises .p_2 img { 
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#blogs .universal_3 .paises .p_3 { grid-area: p_3; }
#blogs .universal_3 .paises .p_3 img { 
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#blogs .universal_3 .paises .boton { grid-area: boton; }
#blogs .universal_3 .paises .boton { 
    display: flex;
    justify-content: center;
} 
#blogs .universal_3 .paises .boton button{ 
    width: 30%;
    height: 35px;
    margin-top: 10px;
    border-radius: 20px;
    border-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    background-color: transparent;
    display: flex;
    justify-content: center;
} 
#blogs .universal_3 .paises .boton button a {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    text-decoration: none;
    color: #ffffff;
    margin-top: 3px;
}
#blogs .universal_3 .paises .boton button:hover {
    background-color: #FFA700;
    border-color: #313E6A;
    color: #313E6A;
}
#blogs .universal_3 .paises .boton button:hover a{
    color: #313E6A;
}

/* Tablets 1*/
@media (min-width:800px) and (max-width:1024px) {
    #blogs .universal_3 {
        display: flex;
        justify-content: space-around;
        width: 90%;
    }
    #blogs .bloggueado {
        width: 50%;
        display: block;
    }
    #blogs .universal_3 .universal_5 {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
    #blogs .bloggueado .universal_4 .universal_4_1 {
        width: 75%;
        display: block;
    }
    #blogs .universal_3 .universal_5 .paises {
        width: 90%;
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: 60% 25% 10%;
        grid-auto-columns: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "mapa mapa mapa"
            "p_1 p_2 p_3"
            "boton boton boton";
    }
}

/* Tablets 2*/
@media (min-width:601px) and (max-width:799px) {
    #blogs .universal_3 {
        display: flex;
        justify-content: space-around;
        width: 90%;
    }
    #blogs .bloggueado {
        width: 55%;
        display: block;
    }
    #blogs .universal_3 .universal_5 {
        width: 45%;
        display: flex;
        justify-content: flex-start;
    }
    #blogs .bloggueado .universal_4 .universal_4_1 {
        width: 85%;
        display: block;
    }
    #blogs .universal_3 .universal_5 .paises {
        width: 90%;
        display: grid;
        grid-template-columns: 50% 50% 0%;
        grid-template-rows: 60% 25% 10%;
        grid-auto-columns: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "mapa mapa mapa"
            "p_1 p_2 p_3"
            "boton boton boton";
    }
    #blogs .universal_3 .paises .p_3 {
        display: none;
    }
    #blogs .universal_3 .paises .boton button {
        width: 40%;
        margin-top: 10px;
        border-radius: 20px;
        border-color: #ffffff;
        border-width: 3px;
        border-style: solid;
        background-color: transparent;
        display: flex;
        justify-content: center;
    }
}

/* Celulares */
@media (min-width:100px) and (max-width:600px) {
    #blogs .universal_3 {
        display: block;
        width: 90%;
    }
    #blogs .bloggueado {
        width: 100%;
        display: block;
    }
    #blogs .universal_3 .universal_5 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #blogs .bloggueado .universal_4 .universal_4_1{
        width: 55%;
        display: block;
    }
    #blogs .universal_3 .universal_5 .paises {
        width: 65%;
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: 55% 30% 10%;
        grid-auto-columns: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "mapa mapa mapa"
            "p_1 p_2 p_3"
            "boton boton boton";
    }
    #blogs .universal_3 .universal_5 .paises .mapa  {
        justify-content: center;
    }
    #blogs .universal_3 .universal_5 .paises .mapa iframe {
        margin-top: 30px;
        width: 100%;
    }
    #blogs .universal_3 .paises .boton button {
        width: 40%;
        margin-top: 10px;
        border-radius: 20px;
        border-color: #ffffff;
        border-width: 3px;
        border-style: solid;
        background-color: transparent;
        display: flex;
        justify-content: center;
    }
}
/* Fin blogs */

/* Pie de página */
/* Computadores */
#pie_de_pagina {
    margin-top: 90px;
    margin-bottom: 90px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#pie_de_pagina .logo_pie {
    width: 15%;
    margin-left: 30px;
    margin-top: 30px;
}
#pie_de_pagina .logo_pie img{
    width: 70%;
}
#pie_de_pagina .sobre_nosotros {
    width: 40%;
    margin-left: -120px;
}
#pie_de_pagina .sobre_nosotros .titulo_3 {
    width: 100%;
}
#pie_de_pagina .sobre_nosotros .titulo_3 img {
    width: 50%;
    margin-bottom: 20px;
}
#pie_de_pagina .sobre_nosotros p {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    color: #1a223c;
    text-align: justify;
}
#pie_de_pagina .redes_sociales {
    width: 10%;
    display: block;
}
#pie_de_pagina .redes_sociales img{
    width: 40%;
    margin-bottom: 20px;
}

/* Tablets */
@media (min-width:550px) and (max-width:1024px) {
    #pie_de_pagina {
        display: flex;
        flex-wrap: wrap;
    }
    #pie_de_pagina .logo_pie {
        width: 40%;
        margin: 0;
        margin-left: 0;
        margin-top: 0;
    }
    #pie_de_pagina .logo_pie img{
        width: 60%;
    }
    #pie_de_pagina .sobre_nosotros {
        width: 60%;
    }
    #pie_de_pagina .titulo_3 {
        display: flex;
        justify-content: center;
    }
    #pie_de_pagina .redes_sociales {
        width: 70%;
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
    }
    #pie_de_pagina .redes_sociales img{
        width: 35%;
    }
    #pie_de_pagina .redes_sociales a {
        display: flex;
        justify-content: center;
    }
}

/* Celulares */
@media (min-width:100px) and (max-width:549px) {
    #pie_de_pagina {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
    }
    #pie_de_pagina .logo_pie {
        width: 100%;
        margin: 0;
        margin-left: 0;
        margin-top: 0;
        display: flex;
        justify-content: center;
    }
    #pie_de_pagina .logo_pie img{
        width: 25%;
    }
    #pie_de_pagina .sobre_nosotros {
        width: 60%;
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    #pie_de_pagina .sobre_nosotros .titulo_3 {
        display: flex;
        justify-content: center;
    }
    #pie_de_pagina .redes_sociales {
        width: 60%;
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
    }
    #pie_de_pagina .redes_sociales img{
        width: 70%;
    }
    #pie_de_pagina .redes_sociales a {
        display: flex;
        justify-content: center;
    }
}
/* Fin pie de página */

/* Intro */
/* Computadores */
#intro_pages .universal_1 {
    display: flex;
}
#intro_pages .universal_1 .contenedor_1{
    width: 60%;
    margin-top: 40px;
    display: block;
}
#intro_pages .universal_1 .contenedor_1 .titulo_1{
    width: 100%;
    display: flex;
    justify-content: center;
}
#intro_pages .universal_1 .contenedor_1 .titulo_1 img{
    width: 75%;
    margin-top: 130px;
}
#intro_pages .universal_1 .contenedor_1 .descripcion_1 {
    width: 100%;
    display: flex;
    justify-content: center;
}
#intro_pages .universal_1 .contenedor_1 .descripcion_1 p{
    width: 80%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}
#intro_pages .universal_1 .contenedor_2{
    width: 40%;
    display: flex;
    justify-content: center;
}
#intro_pages .universal_1 .contenedor_2 img{
    margin-top: 90px;
    margin-left: 100px;
    width: 90%;
}

/* Tablets */
@media (min-width:601px) and (max-width:1024px) {
    #intro_pages .universal_1 .contenedor_1{
        width: 40%;
    }
    #intro_pages .universal_1 .contenedor_2{
        width: 60%;
    }
    #intro_pages .universal_1 .contenedor_1 .descripcion_1 p{
        width: 80%;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 80%;
    }
}

/* Celulares */
@media (min-width:100px) and (max-width:600px) {
    #intro_pages .universal_1{
        display: block;
        align-items: center;
        width: 100%;
    }
    #intro_pages .universal_1 .contenedor_1{
        width: 100%;
    }
    #intro_pages .universal_1 .contenedor_2{
        width: 100%;
    }
    #intro_pages .universal_1 .contenedor_2 img{
        margin-top: 20px;
    }
}
/* Fin intro */

/*Producto destacado*/
#seccion_destacada {
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #AAE5E7;
}
#seccion_destacada .texto_destacado {
    width: 60%;
    display: block;
}
#seccion_destacada .texto_destacado .titulo_2{
    width: 100%;
    margin-top: 85px;
    display: flex;
    justify-content: center;
}
#seccion_destacada .texto_destacado .titulo_2 img{
    width: 40%;
}
#seccion_destacada .texto_destacado .categoria_2{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
#seccion_destacada .texto_destacado .categoria_2 h1{
    width: 70%;
    margin-left: 30px;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    color:#1a223c;
}
#seccion_destacada .texto_destacado .descripcion_2{
    width: 100%;
    display: flex;
    justify-content: center;
}
#seccion_destacada .texto_destacado .descripcion_2 p{
    width: 70%;
    margin-left: 30px;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    color:#1a223c;
    text-align: justify;
}
#seccion_destacada .texto_destacado .imagen_calificacion {
    display: flex;
    justify-content: center;
    width: 100%;
}
#seccion_destacada .texto_destacado .imagen_calificacion img{
    width: 35%;
}
#seccion_destacada .texto_destacado .calificacion {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
#seccion_destacada .texto_destacado .calificacion p{
    width: 35%;
    margin-left: 30px;
    font-size: 70%;
    font-family: 'Lato', sans-serif;
    color:#693ACF;
}
#seccion_destacada .imagen_destacada {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-right: 70px;
}
#seccion_destacada .imagen_destacada img {
    width: 100%;
    
}
