@import "../../../base/variable";

#recomendaciones{
    width: 100%;
    display: nth($display, 1 );
    margin-top: 80px;
    margin-bottom: 140px;
    .te_recomendamos{
        width: 100%;
        @extend %centrado;
        .titulo_3{
            width: 60%;
            @extend %centrado;
            img{
                width: 50%;
            }
        }
    }
    .universal_6{
        width: 100%;
        @extend %centrado;
        .contenedor_1{
            display: nth($display, 2 );
            grid-template-columns: 20% 30% 25% 15%;
            grid-template-rows: 23% 23% 23% 23%;
            grid-auto-columns: 1fr;
            gap: 4px 0px;
            grid-auto-flow: row;
            justify-content: space-evenly;
            align-content: space-evenly;
            justify-items: stretch;
            align-items: stretch;
            grid-template-areas:
              ". img_2 texto_4 img_4"
              "img_1 img_2 img_3 img_4"
              "img_1 texto_2 img_3 ."
              "texto_1 . texto_3 texto_3";
            width: 80%;
            img{
                width: 100%;
                margin-bottom: 40px;
            }
            p{
                width: 100%;
                font-family: 'Lato', sans-serif;
                font-size: 100%;
                color: nth($colores-texto , 1);
            }
            .texto_1{
                grid-area: texto_1;
            }
            .img_1{
                grid-area: img_1;
            }
            .img_2{
                grid-area: img_2;
            }
            .texto_2{
                grid-area: texto_2;
            }
            .texto_4{
                grid-area: texto_4; 
            }
            .img_3{
                grid-area: img_3; 
            }
            .texto_3{
                grid-area: texto_3; 
            }
            .img_4{
                grid-area: img_4;
            }
        }
    }
}

/* Tablets */
@media (min-width:768px) and (max-width:1024px){
    #recomendaciones{
        .te_recomendamos{
            .titulo_3{ 
                img{
                    width: 80%;
                    margin-bottom: 30px;
                }
            }
        }
        .universal_6{
            .contenedor_1{
                display: nth($display, 2 );
                grid-template-columns: 50% 50%; 
                grid-template-rows: 50% 50%; 
                gap: 0px 0px; 
                grid-template-areas: 
                    "img_1 texto_1"
                    "texto_4 img_4"; 
                width: 70%; 
                height: 100%;
                img{
                    margin-bottom: 0px;
                }
                p{
                    width: 80%;
                    margin-top: 70px;
                    text-align: justify;

                }
                .texto_1{
                    background-color: nth($colores-base , 10 );
                    display: flex;
                    justify-content: center;
                }
                .texto_4{
                    background-color: nth($colores-base , 10 );
                    display: flex;
                    justify-content: center;
                }
                .texto_2{
                    display: none;
                }
                .img_2{
                    display: none;
                }
                .texto_3{
                    display: none;
                }
                .img_3{
                    display: none;
                }
            }
        }
    } 
}

/* Celulares */
@media (min-width:320px) and (max-width:767px) {
    #recomendaciones{
        .te_recomendamos{
            .titulo_3{ 
                img{
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }
        .universal_6{
            .contenedor_1{
                display: nth($display, 2 );
                grid-template-columns: 50% 50%; 
                grid-template-rows: 50% 50%; 
                gap: 0px 0px; 
                grid-template-areas: 
                    "img_1 texto_1"
                    "texto_4 img_4"; 
                width: 90%; 
                height: 100%;
                img{
                    margin-bottom: 0px;
                }
                p{
                    width: 80%;
                    margin-top: 10px;
                    text-align: justify;
                    font-family: 'Lato', sans-serif;
                    font-size: 80%;

                }
                .texto_1{
                    background-color: nth($colores-base , 10 );
                    display: flex;
                    justify-content: center;
                }
                .texto_4{
                    background-color: nth($colores-base , 10 );
                    display: flex;
                    justify-content: center;
                }
                .texto_2{
                    display: none;
                }
                .img_2{
                    display: none;
                }
                .texto_3{
                    display: none;
                }
                .img_3{
                    display: none;
                }
            }
        }
    }
}
