@import "../../base/variable";

.seccion_destacada {
    .belleza{
        margin-top: 45px;
        width: 100%;
        @extend %centrado;
        background-color: nth($colores-base , 3);
    }
    .nutricion{
        margin-top: 45px;
        width: 100%;
        @extend %centrado;
        background-color: nth($colores-base , 1);
        .imagen_destacada{
            img{
                width: 100%;
            }
        }
    }
    .viajes{
        margin-top: 45px;
        width: 100%;
        @extend %centrado;
        background-color: nth($colores-base , 5);
        .imagen_destacada{
            img{
                width: 100%;
            }
        }
        .texto_destacado {
            .titulo_2{
                img{
                    width: 20%;
                }
            }
        }
    }
    .texto_destacado{
        width: 60%;
        display: nth($display , 1);
        .titulo_2{
            width: 100%;
            margin-top: 85px;
            @extend %centrado;
            img{
                width: 40%;
            }
        }
        .categoria_2{
            width: 100%;
            margin-top: 30px;
            @extend %centrado;
            h1{
                width: 70%;
                margin-left: 30px;
                @extend %diseño-texto;
                color: nth($colores-texto , 1);
            }
        }
        .descripcion_2{
            width: 100%;
            @extend %centrado;
            p{
                width: 70%;
                margin-left: 30px;
                @extend %diseño-texto;
                color: nth($colores-texto , 1);
                text-align: justify;
            }
        }
        .imagen_calificacion{
            @extend %centrado;
            width: 100%;
            img{
                width: 35%;
            }
        }
        .calificacion{
            width: 100%;
            @extend %centrado;
            margin-bottom: 70px;
            p{
                width: 35%;
                margin-left: 30px;
                @extend %diseño-texto;
                color: nth($colores-texto , 4);
            }
        } 

    }
    .imagen_destacada{
        width: 30%;
        display: flex;
        justify-content: center;
        margin-right: 70px;
        img{
            width: 100%; 
        }
    }
    
}