@import "../../base/variable";

#buscador {
    .universal_1{
        display: flex;
        .contenedor_1{
            width: 50%;
            display: block;
            .titulo_1{
                width: 100%;
                @extend %centrado;
                img{
                    width: 75%;
                    margin-top: 130px;
                }
            }
            .descripcion_1{
                width: 100%;
                @extend %centrado;
                p{
                    width: 80%;
                    text-align: center;
                    @extend %diseño-texto;
                }
            }
            .universal_2{
                @extend %centrado;
                .input-group{
                    width: 50%;
                    input{
                        width: 70%;
                    }
                    span{
                        background-color: nth($colores-base, 5 );
                        .input-group-right-example{
                            @extend %diseño-texto;
                        }
                    }
                }
            }
        }
        .contenedor_2{
            width: 50%;
            @extend %centrado;
            img{
                margin-top: 90px;
                width: 90%;
            }
        }
    }
}

/* Tablets */
@media (min-width:768px) and (max-width:1024px) {
    #buscador{
        .universal_1{
            .contenedor_1{
                width: 40%;
                .descripcion_1{
                    p{
                        width: 70%;
                        text-align: justify;
                        font-family: 'Lato', sans-serif;
                        font-size: 10%;
                    }
                }
                .universal_2{
                    .input-group{
                        span{
                            .input-group-text{
                                font-size: 50%;
                            }
                        }
                    }
                }
            }
            .contenedor_2{
                width: 60%;
            }
        }
    }
}

/* Celulares */
@media (min-width:320px) and (max-width:767px) {
    #buscador{
        .universal_1{
            display: block;
            align-items: center;
            width: 100%;
            .contenedor_1{
                width: 100%;
            }
            .contenedor_2{
                width: 100%;
                img{
                    margin-top: 50px;
                    width: 85%;
                }
            }
        }
    }
}