@import "../../base/variable";

#tendencias {

    .contenedor_1{
        display: flex;
        justify-content: center;
        background-size: 100%;
        margin-top: 90px;
        .titulo_1{
            width: 20%;
            img{
                width: 100%;
            }
        }
    }
    .contenedor_2{
        width: 100%;
        margin-top: 40px;
        display: block;
        .contenedor_3{
            width: 100%;
            display: flex;
            justify-content: center;
            .contenedor_3_0{
                width: 70%;
                display: flex;
                justify-content: space-between;
                .contenedor_3_1{
                    @extend %contendedor-tendencia;
                    display: block;
                    width: 30%;
                    @include color(nth($colores-base, 3 ));

                    &:hover{
                        @extend %hover-tendencia;
                    }
                }
                .contenedor_3_2{
                    @extend %contendedor-tendencia;
                    display: block;
                    width: 30%;
                    @include color(nth($colores-base, 1 ));
                    &:hover{
                        @extend %hover-tendencia;
                    }
                }
                .contenedor_3_3{
                    @extend %contendedor-tendencia;
                    display: block;
                    width: 30%;
                    @include color(nth($colores-base, 4 ));
                    &:hover{
                        @extend %hover-tendencia;
                    }
                }
            }
        }
        .contenedor_4{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 30px;
            .contenedor_4_0{
                width: 70%;
                display: flex;
                justify-content: space-between;
                .contenedor_4_1{
                    @extend %contendedor-tendencia;
                    display: block;
                    width: 30%;
                    @include color(nth($colores-base, 4 ));
                    &:hover{
                        @extend %hover-tendencia;
                    }
                }
                .contenedor_4_2{
                    @extend %contendedor-tendencia;
                    display: block;
                    width: 30%;
                    @include color(nth($colores-base, 3 ));
                    &:hover{
                        @extend %hover-tendencia;
                    }
                }
                .contenedor_4_3{
                    @extend %contendedor-tendencia;
                    display: block;
                    width: 30%;
                    @include color(nth($colores-base, 1 ));
                    &:hover{
                        @extend %hover-tendencia;
                    }
                }
            }
        }
        .imagen{
            @extend %centrado;
            width: 100%;
            img{
                width: 50%;
            }
        }
        .categoria{
            width:100%;
            @extend %centrado;
            p{
                @extend %diseño-texto;
                color: nth($colores-texto, 1);
                text-align: center;
            }
        }
        .descripcion_tendencia{
            width:100%;
            display: flex;
            justify-content: center;
            p{
                width: 80%;
                font-family: 'Lato', sans-serif;
                text-align: center;
                color: nth($colores-texto, 1);
                margin-top: -15px;
            }
        }
    }
}

/* Tablets */
@media (min-width:768px) and (max-width:1024px) {
    #tendencias{
        .contenedor_1{
            margin-top: 30px;
            .titulo_1{
                margin-top: 50px;
                width: 25%;
            }
        }
        .contenedor_2{
            margin-top: 30px;
            display: flex;
            width: 100%;
            justify-content: space-around;
            .contenedor_3{
                display: flex;
                justify-content: flex-end;
                width: 45%;
                .contenedor_3_0{
                    display: block;
                    width: 50%;
                    .contenedor_3_1{
                        width: 100%;
                        margin-bottom: 30px;
                    }
                    .contenedor_3_2{
                        width: 100%;
                        margin-bottom: 30px;
                    }
                    .contenedor_3_3{
                        width: 100%;
                        margin-bottom: 30px;
                    }
                }
            }
            .imagen{
                img{
                    width: 50%;
                }
            }
            .categoria{
                p{
                    font-size: 70%;
                }
            }
            .descripcion_tendencia{
                p{
                    font-size: 60%;
                }
            }
            .contenedor_4{
                display: flex;
                width: 45%;
                justify-content: flex-start;
                margin-top: 0;
                .contenedor_4_0{
                    display: block;
                    width: 50%;
                    .contenedor_4_1{
                        width: 100%;
                        margin-bottom: 30px;
                    }
                    .contenedor_4_2{
                        width: 100%;
                        margin-bottom: 30px;
                    }
                    .contenedor_4_3{
                        width: 100%;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

/* Celulares */
@media (min-width:320px) and (max-width:767px) {
    #tendencias{
        .contenedor_1{
            margin-top: 70px;
            .titulo_1{
                width: 45%;
            }
        }
        .contenedor_2{
            margin-top: 50px;
            display: block;
            width: 100%;
            .contenedor_3{
                width: 100%;
                .contenedor_3_0{
                    display: block;
                    width: 60%;
                    .contenedor_3_1{
                        width: 100%;
                        margin-bottom: 30px;
                        display: flex;
                        justify-content: space-around;
                    }
                    .contenedor_3_2{
                        width: 100%;
                        margin-bottom: 30px;
                        display: flex;
                        justify-content: space-around;
                    }
                    .contenedor_3_3{
                        width: 100%;
                        margin-bottom: 30px;
                        display: flex;
                        justify-content: space-around;
                    }
                }
            }
            .imagen{
                width: 30%;
                margin-left: 10px;
                img{
                    width: 100%;
                }
            }
            .categoria{
                width: 50%;
                display: flex;
                align-items: center;
                margin-top: 10px;
                p{
                    font-size: 80%;
                }
            }
            .descripcion_tendencia{
                display: none;
                width: 0;
            }
            .contenedor_4{
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 0;
                .contenedor_4_0{
                    display: block;
                    width: 60%;
                    .contenedor_4_1{
                        width: 100%;
                        margin-bottom: 30px;
                        display: flex;
                        justify-content: space-around;
                        background-color: #AAE5E7;
                    }
                    .contenedor_4_2{
                        display: none;
                    }
                    .contenedor_4_3{
                        display: none;
                    }
                }
            }
        }
    }
}