$texto: 'Lato', sans-serif;
$colores-base:
#7EED90, 
#FFA700, 
#AAE5E7, 
#F0A290, 
#B08CFF, 
#FFE745, 
#313E6A, 
grey,
#FFFFFF,
#FFE7D2,
#FFE745;

$colores-texto:
#1A223C, 
#FFFFFF,
#FBFF27,
#7648da;

%diseño-texto {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}
%centrado {
    display: flex;
    justify-content: center;
}
%hover-tendencia{
    background-color: transparent;
    box-shadow: 0px 10px 10px 6px grey;
}
@mixin color ($background-color-tendencia){
    background-color: $background-color-tendencia;
}
%contendedor-tendencia{
    border-radius: 20px;
    box-shadow: 0px 20px 10px -6px grey;
}
$display:
block,
grid;

%imagen-paises{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
%medidas-boton{
    margin-top: 10px;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
}
%medidas-img-paises{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
